body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
background: linear-gradient(90deg,#DCE35B,#45B649);
}
nav{
	width: 100%;
	margin: 0 auto;
	padding:0;
	background: linear-gradient(90deg,#DCE35B,#45B649);
	position: fixed;
	z-index: 100;
}
ul{
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
ul li{
	list-style: none;
	display: inline-block;
	padding: 20px;
}
ul li:hover{
	background: #e91e63;

}
ul li a{
	color: #fff;
	text-decoration: none;
}
.toggle{
	width: 100%;
	padding: 10px 20px;
	background: transparent;
	text-align:right;
	box-sizing: border-box;
	color: #fff;
	font-size: 30px;
	display: none;
}
#home{
	width: 100%;
	height: 800px;
}
#home img{
	height: 180px;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%,-20%);
	margin: 0;
}
#home p{

	text-align: center;
	font-size: 25px;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-45%);
	color: #fff;
	font-weight: bold;
}
#home .viewblog{
	height: 28px;
	width: 180px;
	background: #fff;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-55%);
	color: #009688;
	font-weight: bold;
	border-radius: 20px; 
}
#home .app{
	height: 28px;
	width: 180px;
	background: #fff;
	position: absolute;
	top: 61%;
	left: 50%;
	transform: translate(-50%,-61%);
	color: #009688;
	font-weight: bold;
	border-radius: 20px; 
}

#about{
	height: 800px;
}












@media(max-width: 768px)
{

	.toggle{
		display: block;
	}
	ul{
		width: 100%;
		display: none;
	}
	ul li{
		display: block;
		text-align: center;
	}
	.active{
		display: block;
	}
	#home{
	width: 100%;
	height: 650px;
}
#home img{
	height: 180px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-30%);
	margin: 0;
}
#home p{

	text-align: center;
	font-size: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-weight: bold;
}
#home .viewblog{
	height: 28px;
	width: 180px;
	background: #fff;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-60%);
	color: #009688;
	font-weight: bold;
	border-radius: 20px; 
}
#home .app{
	height: 28px;
	width: 180px;
	background: #fff;
	position: absolute;
	top: 66%;
	left: 50%;
	transform: translate(-50%,-66%);
	color: #009688;
	font-weight: bold;
	border-radius: 20px; 
}

#about{
	height: 650px;
	background: black;
}

}