html{
	-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.section-heading .section-heading-lower .change {
  display: block;
  font-size: 1rem;
  font-weight: 100;
}

.section-heading .section-heading-lower  {
  font-size: 20px;
  font-weight: bolder;
}
.section-heading .section-heading-lower .headbold {
	font-weight: bold;
	size: 250px;
}